<div class="col s12 m4">
  <div class="card Panel">
    <div class="card-content">
      <div>
        <span class="card-title">Create an account or Login</span>
        <!-- Login Card-->
        
        {{#if message}}
            <body onload="M.toast({html: '{{message}}'})"></body>
        {{/if}}
        {{#if error_msg}}
            <p><strong>FLASH!</strong> {{ error_msg }}</p>
        {{/if}}
        <!--Successful Login -->
        {{#if userCreated}}
            <body onload="M.toast({html: '{{userCreated}}'})"></body>
         {{/if}}
         <!-- User Not Found -->
         {{#if userNotFound}}
             <body onload="M.toast({html: '{{userNotFound}}'})"></body>
         {{/if}}
        <!--Errors-->
        {{#if errors}}
          {{#each errors}}
              <span style="color:red;">{{this.msg}}</span><br>
          {{/each}}
        {{/if}}
        <form action="/api/login" method="POST">
          <div class="form-group">
            <label for="name">Email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter Email">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="userPassword" name="userPassword" placeholder="Enter password">
          </div>
          <input type="submit"></input>
        </form>
      </div>
      <!-- New User -->
      <div>
        <a href="/addUser"><button id="new_user" class="waves-effect">Register</button></a>
      </div>  
    </div>
  </div>
</div>
